{% extends 'base.html' %}

{% block content %}

<h1>Add a Pet</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}

    <div class='form-group'>
    {{ field.label }}
    {{ field }}

    <span>
      {% if field.errors %}
        {% for error in field.errors %}
	        <b class="text-danger">{{error}}</b>
        {% endfor %}
      {% endif %}
    </span>

    </div>

    {% endfor %}
  <button class="btn btn-primary" type="submit">Add</button>
</form>

{% endblock %}