{% extends 'base.html' %}

{% block content %}

{% if pet.photo_url %}
<img class="img-fluid" src="{{ pet.photo_url }}" alt="" width="200" height="200">
{% endif %}

<h2>Update {{ pet.name }}</h2>

<form method="POST" action="/pet_details/{{pet.id}}">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
    
    <div class='form-group'>
      {{ field.label }}
      {{ field }}
    
      <span>
          {% if field.errors %}
            {% for error in field.errors %}
                <b class="text-danger">{{ error }}</b>
            {% endfor %}
          {% endif %}
        </span>
    
    </div>
    
    {% endfor %}
  <button class="btn btn-primary" type="submit">Save</button>
</form>

{% endblock %}